.cont{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-image: url('https://images.unsplash.com/photo-1517837016564-bfc3ffd67455?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1412&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
}
.cont > h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.login-form-container {
    width: 95%;
    max-width: 400px;
    height: max-content;
    margin-inline: auto;
    background-color:#2565AE;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 0px rgba(42, 22, 22, 0.59);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.59);

}
.login-form-container p {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}
.profile-icon {
    width: 60px;
    border-radius: 50%;
    border: solid 1px black;
}
.form-fields { 
    display: flex;
    flex-direction: column;
   color: rgba(255, 255, 255, 0.85);
   margin-top: 3rem;

}
.form-fields input, .form-fields textarea ,select{ 
   background-color: transparent;
   border: none;
   border-bottom: solid 1px white;
   margin-block: .5rem;
   outline: none;
   transition: all .2s ease;

}
.form-fields input:focus ,
.form-fields textarea:focus,
select{ 
 background-color:rgba(255, 255, 255, 0.5); 
 padding: .5rem;
}
 form button {
    margin-top: 2rem;
    background-color: #1e1e1e;
    border: none;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    transition: all .5s ease;
    font-size: bold;
    cursor: pointer;
 }
 form button:hover {
   transform: scale(1.1);
 }
 .button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  flex-direction: column;
 }
 .link-paragraph{
  font-size: .8rem;
  color:white;
  padding-bottom: 1rem;

 }
 .success-msg{
   font-size: .8rem;
   color: rgb(4, 255, 4);
 }
 #error {
  font-size: .8rem;
  color:  orange;
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
  gap: .2rem;
  font-weight: unset;
 }
 .notification {
    width: max-content;
    height: max-content;
    background-color: #31fbb75c;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    align-self: center;
    border-radius: 8px;
    margin-bottom: 1rem;
  
 }
.notication-message{
    padding: 1rem;
    letter-spacing: 0.05rem;
}
.checkbox {
  display: flex;
  flex-direction: row;
}
.checkbox label {
  display: flex;
  align-self: center;
}
input[type="checkbox" i]{
  width: 30px;
}